PORT=8080
NODE_ENV=
LOG_LEVEL=

SUPABASE_URL=
DATABASE_URL=
DIRECT_URL=

ACCESS_TOKEN_SECRET="your_jwt_secret"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
EXPIRE_ACCESS_TOKEN="15m"
EXPIRE_REFRESH_TOKEN="7d"

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

CLOUDINARY_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

NGROK_AUTHTOKEN=

MOMO_PARTNER_CODE="MOMO-PARTNER"
MOMO_ACCESS_KEY="MOMO-ACCESS-KEY"
MOMO_SECRET_KEY="MOMO-SECRET-KEY"
MOMO_ENDPOINT="MOMO-ENDPOINT"
MOMO_REDIRECT_URL="MOMO-RETURN_URL"
MOMO_IPN_URL="MOMO-IPN-URL"
MOMO_PARTNER_NAME="Mini Ecommerce"
MOMO_STORE_ID="Mini Ecommerce"

FRONTEND_PAYMENT_RESULT_URL=http://localhost:3000/payment-result