PORT=8080
NODE_ENV=
LOG_LEVEL=

DATABASE_URL="postgresql://user:password@localhost:5432/test_db?schema=public"

ACCESS_TOKEN_SECRET="your_jwt_secret"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
EXPIRE_ACCESS_TOKEN="15m"
EXPIRE_REFRESH_TOKEN="7d"

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NGROK_AUTHTOKEN=

CLOUDINARY_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"